{% extends "base.html" %}
{% block add_js %}
<style>
.form-signup {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup input[type="text"],
.form-signup input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
</style>
{% endblock %}
{% block subtitle %}Sign up{% endblock %}
{% block content %}
<h2> Join {{ verify.name }} </h2>
{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}
<div class="row-fluid">
<div class="span6">
    <form class="form-signup" method="POST">
        <h2 class="form-signup-heading">Sign in</h2>
        <input name="email" type="text" class="input-block-level" placeholder="Email address">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
        <input type="hidden" name="regtype" value="bind">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-large btn-primary" type="submit">Join</button>
    </form>
</div>
<div class="span6">
    <form class="form-signup" method="POST">
        <h2 class="form-signup-heading">Sign up</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Display name">
        <input name="email" type="text" class="input-block-level" placeholder="Receive EMAIL">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
        <input type="hidden" name="regtype" value="new">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-large btn-primary" type="submit">Sign up</button>
    </form>
    </div>
</div>
{% endblock %}
