{% extends "base.html" %}
{% block add_js %}
<style>
.form-setting {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.form-setting .form-setting-heading,
.form-setting .checkbox {
  margin-bottom: 10px;
}
.form-setting input[type="text"],
.form-setting input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
</style>
{% endblock %}
{% block content %}
<form class="form-setting" method="POST" action="{{ url_for('account.setting') }}">
    <h2 class="form-setting-heading">Setting</h2>
    {% if error %}
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ error }}
    </div>
    {% endif %}
    <input name="name" type="text" class="input-block-level" placeholder="Display name" value="{{ g.current_user.name }}">
    <input name="password" type="password" class="input-block-level" placeholder="Password">
    <input name="domain" type="text" class="input-block-level" {% if g.current_user.domain %} disabled="true" value="{{g.current_user.domain}}" {% endif %} placeholder="Domain">
    <input name="city" type="text" class="input-block-level" placeholder="City" value="{{ g.current_user.city }}">
    <input name="title" type="text" class="input-block-level" placeholder="Job Title" value="{{ g.current_user.title }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <button class="btn btn-large btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
{% block subtitle %}Setting{% endblock %}
