<div>
    <p>{{ user.name }}, 这封信是由 Titan 发送的, 请不要回复</p>
    <p>您收到这封邮件，是由于这个邮箱地址在 Titan 被登记为用户邮箱， 且该用户请求使用 Email 密码重置功能所致。</p>
    <p><b>重要</b></p>
    <p><b>----------------------------------------------------------------------</b></p>
    <p>如果您没有提交密码重置的请求或不是 Titan 的注册用户，请立即忽略 并删除这封邮件。只有在您确认需要重置密码的情况下，才需要继续阅读下面的 内容。</p>
    <p><b>----------------------------------------------------------------------</b></p>
    <p><b>密码重置说明</b></p>
    <p><b>----------------------------------------------------------------------</b></p>
    <p>您只需在提交请求后的30分钟内，通过点击下面的链接重置您的密码：</p>
    <p><a href="{{ url_for('account.reset', stub=stub, _external=True) }}">{{ url_for('account.reset', stub=stub, _external=True) }}</a></p>
    <p>(如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)</p>
    <p>在上面的链接所打开的页面中输入新的密码后提交，您即可使用新的密码登录网站了。您可以在用户控制面板中随时修改您的密码。</p>
    <br />
    <p>此致</p>
</div>
