{% extends "organization.view.html" %}
{% import "/common/pagination.html" as pagination %}
{% block subtitle %}Gist:{{ gist.id }} Revisions{% endblock %}
{% block add_js %}
<link href="{{ '/static/css/prettify.css' | s_files }}" rel="stylesheet">
{% endblock %}
{% block subcontent %}
{% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ error }}
</div>
{% else %}
<h3>
    <strong>Gist:</strong>{{ gist.private or gist.id }}
    <small><a href="{{ gist.meta.view }}">back</a></small>
</h3>
{% if gist.summary %}
<blockquote>
    {{ gist.summary }}
</blockquote>
{% endif %}
<ul class="unstyled">
    {% for rev in revisions %}
    <li>
        <div class="row-fluid">
            <div class="span4">
                <p>
                    <a href="#">{{ rev['author'].name or rev['author'].email }}</a>
                    {{ rev['type'] }} at
                    {{ rev['committer_time'] }}
                </p>
            </div>
            <div class="span4 pull-right">
                <div class="pull-right input-prepend">
                    <a class="btn" href="{{ rev['view'] }}"><strong>View gist @ </strong>{{ rev['sha'][:7] }} <i class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
        {{ rev['diff'] | safe }}
    </li>
    {% endfor %}
</ul>
{{ pagination.render_pagination(list_page, '') }}
{% endif %}
{% endblock %}
