{% extends "organization.view.html" %}
{% block subtitle %}View gist:{{ gist.id }}{% endblock %}
{% block add_js %}
<link href="{{ '/static/css/prettify.css' | s_files }}" rel="stylesheet">
{% endblock %}
{% block subcontent %}
{% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ error }}
</div>
{% else %}
<h3>
    <strong>Gist:</strong>{{ gist.private or gist.id }}
    <small><a href="{{ gist.meta.revisions }}">revisions({{ gist.meta.count_revisions() }})</a></small>
    {% if gist.uid == g.current_user.id %}
    <small><a href="{{ gist.meta.edit }}">edit</a></small>
    <small><a href="{{ gist.meta.delete }}">delete</a></small>
    {% endif %}
    {% if gist.parent %}
    <p>
    <small>Fork from <a href="{{ gist.meta.parent.meta.view }}">{{ gist.meta.parent.summary or 'Gist:%s' % (gist.meta.parent.private or gist.meta.parent.id) }}</a></small></p>
    {% endif %}
</h3>
{% if gist.summary %}
<blockquote>
    {{ gist.summary }}
</blockquote>
{% endif %}
<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on"><strong>SSH</strong> clone URL</span>
            <input class="span3 uneditable-input" id="prependedInput" type="text" value="{{ organization.git}}@{{ request.environ['SERVER_NAME'] }}:{{ gist.path }}">
        </div>
    </div>
    <div class="span4 pull-right">
        <div class="pull-right input-prepend">
            <ul class="inline">
                <li>
                    {% if watcher %}
                    <a class="btn" id="appendedInput" href="{{ gist.meta.unwatch }}">Unwatch</a>
                    {% else %}
                    <a class="btn" id="appendedInput" href="{{ gist.meta.watch }}">Watch</a>
                    {% endif %}
                    <span class="add-on"><a href="{{ gist.meta.watchers}}">{{ gist.watchers }}</a></span>
                </li>
                <li>
                    <a class="btn" id="appendedInput" href="{{ gist.meta.fork }}">Fork</a>
                    <span class="add-on"><a href="{{ gist.meta.forks }}">{{ gist.forks }}</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="unstyled">
{% for d in tree %}
    {% if d.content_type == 'file' %}
    <li style="margin-top:10px">
        <ul class="inline", style="margin-bottom:10px;">
            <li><span class="label">{{ d.name }}</span></li>
            <li><span class="label label-info">{{ d.length }}k</span></li>
            <li class="pull-right">
                <a class="btn btn-small" href="{{ d.download }}"><strong>Raw</strong></a>
            </li>
        </ul>
        {{ d.content() |safe }}
    </li>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}
