{% extends "base.html" %}
{% block subtitle %}The way to host your private repos{% endblock %}
{% block content %}
<div class="row-fluid">
    {% if organizations %}
    <div class="span2 well" style="max-width: 340px; padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">Organizations</li>
            {% for organization in organizations %}
                <li><a href="{{ url_for('organization.view', git=organization.git) }}">{{ organization.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span8">
        <h1>Hello User</h1>
        <a class="btn btn-primary btn-mini" href="{{ url_for('organization.create') }}">Create Organization</a>
    </div>
    {% else %}
    <div class="hero-unit">
        <h1>Hello World</h1>
        <br />
        <a class="btn btn-primary" href="{{ url_for('account.login') }}">Login</a>
        <a class="btn btn-primary" href="{{ url_for('organization.create') }}">Create Organization</a>
    </div>
    {% endif %}
</div>
{% endblock %}
