{% extends "base.html" %}
{% import "/common/pagination.html" as pagination %}
{% block nav %}{{ navbar.nav('organization', organization=organization) }}{% endblock %}
{% block subtitle %}{{ organization.name }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="{{ url_for('organization.teams', git=organization.git) }}">Teams</a></li>
            <li><a href="{{ url_for('repos.explore', git=organization.git) }}">Explore</a></li>
            {% if organization.allow or member.admin %}
            <li><a href="{{ url_for('organization.createteam', git=organization.git) }}">Create Team</a></li>
            {% endif %}
            <li><a href="{{ url_for('repos.create', git=organization.git) }}">Create Repo</a></li>
            {% if member.admin %}
            <li><a href="{{ url_for('organization.invite', git=organization.git) }}">Invite users</a></li>
            <li><a href="{{ url_for('organization.setting', git=organization.git) }}">Organization Setting</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="span10">
        {% block subcontent %}
        <h1>{{ organization.name }}{% if organization.location %} <small>{{ organization.location }}</small>{% endif %}</h1>
        <blockquote>
            ssh identified by <strong>"{{ organization.git }}"</strong>
            <ul class="inline">
                <li>{{ organization.repos }} repos</li>
                <li>{{ organization.members }} members</li>
                <li>{{ organization.teams }} teams</li>
            </ul>
        </blockquote>
        <ul class="unstyled">
            {% for d in data %}
            <li style="padding-bottom:5px;">
                {% if d['type'] == 'push' %}
                <p>
                    <a href="#"><img height="24px" width="24px" src="{{ d['committer'].avatar(18) }}" /></a>
                    <a href="#">{{ d['committer'].display }}</a> push {{ d['commits_num'] }} commits in
                    <a href="{{ d['repo_url'] }}">{{ d['repo'].name }}</a> branch
                    <a href="{{ d['branch_url'] }}">{{ d['branch'] }}</a>
                </p>
                <ul class="unstyled" style="padding-left:15px">
                    {% for commit in d['data'] %}
                    <li style="padding-bottom:5px">
                        {% if commit['author'] %}
                        <span class="label">{{ commit['author'].name }}</span>
                        {% else %}
                        <span class="label">{{ commit['author_email'] }}</span>
                        {% endif %}
                        <span class="label label-important">{{ commit['sha'][:10] }}</span>
                        <span class="label label-success">{{ commit['message'] }}</span>
                        <span class="label label-info">{{ commit['author_time'] }}</span>
                    </li>
                    {% endfor %}
                    {% if d['more'] %}
                    <li style="padding-bottom:10px"><a href="#">+more</a><li>
                    {% endif %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {{ pagination.render_pagination(list_page, '') }}
        {% endblock %}
    </div>
</div>
{% endblock %}
