{% extends "base.html" %}
{% block subtitle %}{{ organization.name }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="{{ url_for('organization.view', git=organization.git) }}">View Organization</a></li>
            <li><a href="{{ url_for('repos.explore', git=organization.git) }}">Explore</a></li>
            {% if organization.allow or member.admin %}
            <li><a href="{{ url_for('organization.createteam', git=organization.git) }}">Create Team</a></li>
            {% endif %}
            <li><a href="{{ url_for('repos.create', git=organization.git) }}">Create Repo</a></li>
            {% if member.admin %}
            <li><a href="{{ url_for('organization.invite', git=organization.git) }}">Invite users</a></li>
            <li><a href="{{ url_for('organization.setting', git=organization.git) }}">Organization Setting</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="span9">
        {% block subcontent %}
        <h1>{{ organization.name }}</h1>
        <blockquote>
            <p>ssh ident: {{ organization.git }}</p>
            <p>repos: {{ organization.repos }} members: {{ organization.members }} teams: {{ organization.teams }}</p>
            <p>location: {{ organization.location }} create: {{ organization.create }}</p>
        </blockquote>
        <table class="table table-striped">
        {% for team in teams %}
            <tr>
                <td>
                    <p><img height="140px" width="140px" src="{{ team.pic | u_files }}" class="img-polaroid"></p>
                    <blockquote>
                        <p>{{ team.display }} members: {{ team.members }} repos: {{ team.repos }}</p>
                        <p>
                            {% for m in team.__members %}
                                <a href="#"><img height="24px" width="24px" src="{{ m.avatar(24) }}" /></a>
                            {% endfor %}
                        </p>
                    </blockquote>
                    {% if team.private and not team.__joined and not member.admin %}
                    <p> private </p>
                    {% else %}
                    <p><a href="{{ url_for('organization.viewteam', git=organization.git, tname=team.name) }}">view team</a></p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% endblock %}
    </div>
</div>
{% endblock %}
