{% extends "base.html" %}
{% block subtitle %}{{ repo.name }}{% endblock %}
{% block nav %}{{ navbar.nav(organization=organization) }}{% endblock %}

{% macro get_url(view='repos.view', kwargs={}) -%}
    {% if repo.tid == 0 %}
    {{ url_for(view, git=organization.git, rname=repo.name, **kwargs) }}
    {% else %}
    {{ url_for(view, git=organization.git, rname=repo.name, tname=team.name, **kwargs) }}
    {% endif %}
{%- endmacro %}

{% macro repo_nav(current='dashboard') -%}
<li class="{% if current == 'code' %} active {% endif %}">
    <a href="{{ get_url() }}">Code</a>
</li>
{% if admin %}
<li class="{% if current == 'setting' %} active {% endif %}">
    <a href="{{ get_url('repos.setting') }}">Setting</a>
</li>
{% endif %}
{%- endmacro %}

{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
        {% block subnav %}
            {{ repo_nav('code') }}
        {% endblock %}
    </ul>
    {% if not error %}
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ version or repo.default }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for b in branches %}
                    {% if not file_path %}
                    <li><a href="{{ get_url('repos.view', {'version': b}) }}">{{ b }}</a></li>
                    {% else %}
                    <li><a href="{{ get_url('repos.blob', {'path': file_path, 'version': b}) }}">{{ b }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endif %}
  </div>
</div>
{% block subcontent %}
<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on"><strong>SSH</strong> clone URL</span>
            <input class="span3 uneditable-input" id="prependedInput" type="text" value="{{ organization.git}}@{{ request.environ['SERVER_NAME'] }}:{{ repo.path }}">
        </div>
    </div>
    <div class="span4 pull-right">
        <div class="pull-right input-prepend">
            <ul class="inline">
                <li>
                    {% if watcher %}
                    <a class="btn" id="appendedInput" href="{{ get_url('repos.unwatch') }}">Unwatch</a>
                    {% else %}
                    <a class="btn" id="appendedInput" href="{{ get_url('repos.watch') }}">Watch</a>
                    {% endif %}
                    <span class="add-on">{{ repo.watchers }}</span>
                </li>
                <li>
                    <a class="btn" id="appendedInput" href="#">Forks</a>
                    <span class="add-on">{{ repo.forks }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% if not error %}
<ul class="breadcrumb">
    <li><a href="{{ get_url('repos.view') }}">{{ repo.name }}</a><span class="divider">/</span></li>
    {% for p, u  in path %}
    {% if u %}
    <li><a href="{{ u }}">{{ p }}</a><span class="divider">/</span></li>
    {% else %}
    <li class="active">{{ p }}<span class="divider">/</span></li>
    {% endif %}
    {% endfor %}
    {% if commit %}
    <li class="pull-right">
        <span class="label">{{ commit.user.name }}</span>
        <span class="label label-info">{{ commit.message }}</span>
        <span class="label label-success">last commit: {{ commit.sha[:10] }}</span>
        {% if commit.user.avatar %}
        <a href="#"><img height="24px" width="24px" src="{{ commit.user.avatar }}" /></a>
        {% endif %}
    </li>
{% endif %}
</ul>
{% block show_content %}
<table class="table">
    <tbody>
        {% for t in tree %}
        <tr>
            <td>
                {% if t.type == 'blob' %}
                <i class="icon-file"></i>
                {% else %}
                <i class="icon-folder-close"></i>
                {% endif %}
                <a href="{{ t.url }}">{{ t.name }}</a>
            </td>
            <td>0</td>
            <td>Not implement yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% else %}
<p>
    {{ error }}
</p>
{% endif %}
{% endblock %}
{% endblock %}

