{% extends "base.html" %}
{% block subtitle %}{{ repo.name }}{% endblock %}
{% block nav %}{{ navbar.nav(organization=organization) }}{% endblock %}
{% block add_js %}
{% if readme %}
<link href="{{ '/static/css/prettify.css' | s_files }}" rel="stylesheet">
{% endif %}
{% endblock %}

{% macro repo_nav(current='dashboard') -%}
<li class="{% if current == 'code' %} active {% endif %}">
    <a href="{{ repo.meta.get_view(version) }}">Code</a>
</li>
{% if admin %}
<li class="{% if current == 'setting' %} active {% endif %}">
    <a href="{{ repo.meta.setting }}">Setting</a>
</li>
{% endif %}
<li class="{% if current == 'commits' %} active {% endif %}">
    <a href="{{ repo.meta.get_commits(version) }}">Commits</a>
</li>
<li class="{% if current == 'activity' %} active {% endif %}">
    <a href="{{ repo.meta.activities }}">Activity</a>
</li>
{%- endmacro %}

{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
        {% block subnav %}
            {{ repo_nav('code') }}
        {% endblock %}
    </ul>
    {% if not error and branches %}
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ version or repo.default }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% block show_branches %}
                {% for b in branches %}
                    {% if not file_path %}
                    <li><a href="{{ repo.meta.get_view(version=b) }}">{{ b }}</a></li>
                    {% else %}
                    {% if not tree %}
                    <li><a href="{{ repo.meta.get_blob(path=file_path, version=b) }}">{{ b }}</a></li>
                    {% else %}
                    <li><a href="{{ repo.meta.get_view(path=file_path, version=b) }}">{{ b }}</a></li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% endblock %}
            </ul>
        </li>
    </ul>
    {% endif %}
  </div>
</div>
{% block subcontent %}
<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on"><strong>SSH</strong> clone URL</span>
            <input class="span3 uneditable-input" id="prependedInput" type="text" value="{{ organization.git}}@{{ request.environ['SERVER_NAME'] }}:{{ repo.path }}">
        </div>
    </div>
    <div class="span4 pull-right">
        <div class="pull-right input-prepend">
            <ul class="inline">
                <li>
                    {% if watcher %}
                    <a class="btn" id="appendedInput" href="{{ repo.meta.unwatch }}">Unwatch</a>
                    {% else %}
                    <a class="btn" id="appendedInput" href="{{ repo.meta.watch }}">Watch</a>
                    {% endif %}
                    <span class="add-on"><a href="{{ repo.meta.watchers }}">{{ repo.watchers }}</a></span>
                </li>
                <li>
                    <a class="btn" id="appendedInput" href="#">Forks</a>
                    <span class="add-on">{{ repo.forks }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% if not error %}
{% block show_path %}
<ul class="breadcrumb">
    <li><a href="{{ repo.meta.get_view(version=version) }}">{{ repo.name }}</a><span class="divider">/</span></li>
    {% for p, u  in path %}
    {% if u %}
    <li><a href="{{ u }}">{{ p }}</a><span class="divider">/</span></li>
    {% else %}
    <li class="active">{{ p }}<span class="divider">/</span></li>
    {% endif %}
    {% endfor %}
    {% if not content and admin %}<li><a href="#"><i class="icon-plus"></i></a></li>{% endif %}
    {% if commit %}
    <li class="pull-right">
        <span class="label">{{ commit.user.name }}</span>
        <span class="label label-info">{{ commit.message }}</span>
        <span class="label label-success">last commit: {{ commit.sha[:10] }}</span>
        {% if commit.user.avatar %}
        <a href="#"><img height="24px" width="24px" src="{{ commit.user.avatar }}" /></a>
        {% endif %}
    </li>
    {% endif %}
</ul>
{% endblock %}
{% block show_content %}
{% if file_path %}
<div class="row-fluid">
    <div class="pull-right">
        <a class="btn" href="{{ repo.meta.get_commits(path=file_path, version=version) }}"><strong>History</strong></a>
    </div>
</div>
<br />
{% endif %}
<table class="table">
    <tbody>
        {% for t in tree %}
        <tr>
            <td>
                {% if t.type == 'blob' %}
                <i class="icon-file"></i>
                {% elif t.type == 'tree' %}
                <i class="icon-folder-close"></i>
                {% else %}
                <i class="icon-arrow-right"></i>
                {% endif %}
                <a href="{{ t.url }}">{{ t.name }}</a>
            </td>
            <td>{{ t.ago }}</td>
            <td>{{ t.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if readme %}
{{ readme() | safe }}
{% endif %}
{% endblock %}
{% else %}
<p>
    {{ error }}
</p>
{% endif %}
{% endblock %}
{% endblock %}

