{% extends "repos.view.html" %}
{% block add_js %}
<style>
.form-setting {
  max-width: 500px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.form-setting .form-setting-heading,
.form-setting .checkbox {
  margin-bottom: 10px;
}
.form-setting input[type="text"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
</style>
{% endblock %}

{% block subtitle %}Setting {{ repo.name }}{% endblock %}

{% block subnav %}
    {{ repo_nav('setting') }}
{% endblock %}

{% block subcontent %}
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="{{ repo.meta.setting }}">Setting</a></li>
            <li><a href="{{ repo.meta.commiter }}">Commiters</a></li>
            <li><a href="{{ repo.meta.transport }}">Transport</a></li>
        </ul>
    </div>
    <div class="span10">
        {% block setting %}
        {% if error %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ error }}
        </div>
        {% endif %}
        <h4>Set repo</h4>
        <form class="form-setting" method="POST">
            <input name="name" type="text" value="{{ repo.name }}" class="input-block-level" placeholder="Name">
            <select name="default">
                {% for b in branches_switch %}
                <option value="{{ b }}" {% if b == repo.default %}selected{% endif %}>{{ b }}</option>
                {% endfor %}
            </select>
            <br />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
        <hr>
        <a class="btn btn-danger" href="{{ repo.meta.delete }}">Delete</a>
        {% endblock %}
    </div>
</div>
{% endblock %}

