{% extends "repos.view.html" %}

{% block add_js %}
<link href="{{ '/static/css/prettify.css' | s_files }}" rel="stylesheet">
<style>
.center {margin: 5px 0 0 25px}
</style>
{% endblock %}
{% block show_content %}
<div class="row-fluid">
    <div class="span4">
        <ul class="inline center">
            <li>
                <span class="label">{{ content_type }}</span>
            </li>
            <li>
                <span class="label label-info">{{ content_length }}k</span>
            </li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn" href="{{ repo.meta.get_raw(path=file_path, version=version) }}"><strong>Raw</strong></a>
        <a class="btn" href="{{ repo.meta.get_commits(path=file_path, version=version) }}"><strong>History</strong></a>
        {% if admin %}
        <a class="btn" href="{% if version in branches %}{{ repo.meta.get_edit_file(path=file_path, version=version) }}{% else %}#{% endif %}"><strong>Edit</strong></a>
        <a class="btn" href="{% if version in branches %}{{ repo.meta.get_delete_file(path=file_path, version=version) }}{% else %}#{% endif %}"><strong style="color:#D14">Delete</strong></a>
        {% endif %}
    </div>
</div>
<br />
{% if content_type == 'binary' %}
<pre>
    Binary file
</pre>
{% elif content_type == 'image' %}
<pre>
    <img src="data:image/png;base64,{{ content() }}"/>
</pre>
{% else %}
{{ content() | safe }}
{% endif %}
{% endblock %}

