{% extends "team.view.html" %}
{% block subtitle %}Team Setting {{ team.name }}{% endblock %}
{% block subcontent %}
{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}
<div class="row-fluid">
    <form class="form-modify" enctype="multipart/form-data" method="POST">
        <h2 class="form-modify-heading">Modify Team</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Name">
        <input name="display" type="text" class="input-block-level" placeholder="Display Name">
        <label class="checkbox">
            <input name="private" type="checkbox" {% if team.private %} checked {% endif %}>私密小组
        </label>
        <img src="{{ team.pic | u_files }}?t={{ salt }}" width="100px" height="100px" />
        <input name="file" type="FILE" class="input-file" accept="image/*" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}

