{% extends "base.html" %}
{% block add_js %}
<style>
.form-modify {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.form-modify .form-modify-heading,
.form-modify .checkbox {
  margin-bottom: 10px;
}
.form-modify input[type="text"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
</style>
{% endblock %}
{% block subtitle %}Team Setting {{ team.name }}{% endblock %}
{% block content %}
{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}
<div class="row-fluid">
    <form class="form-modify" enctype="multipart/form-data" method="POST">
        <h2 class="form-modify-heading">Modify Team</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Name">
        <input name="display" type="text" class="input-block-level" placeholder="Display Name">
        <img src="{{ team.pic | u_files }}?t={{ salt }}" width="100px" height="100px" />
        <input name="file" type="FILE" class="input-file" accept="image/*" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}

