{% extends "team.view.html" %}
{% block add_js %}
<style>
.form-add {
  max-width: 500px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.form-add .form-add-heading,
.form-add .checkbox {
  margin-bottom: 10px;
}
.form-add input[type="text"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
</style>
{% endblock %}
{% block subtitle %}Team Add Member{% endblock %}
{% block subcontent %}
{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}
<div class="row-fluid">
    <form class="form-add" method="POST">
        <h2 class="form-add-heading">Add to Team</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Name">
        <label class="checkbox">
            <input name="admin" type="checkbox">管理员
        </label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}

