{% extends "base.html" %}
{% block subtitle %}{{ organization.name }} {{ team.name }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        {% if users %}
        <ul class="nav nav-tabs nav-stacked">
            {% for user in users %}
            <li><a href="#">{{ user.name }} <img src="{{ user.avatar(24) }}" /></a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="{{ url_for('organization.view', git=organization.git) }}">Back To Organization</a></li>
            <li><a href="{{ url_for('repos.explore', git=organization.git, tname=team.name) }}">Explore</a></li>
            <li><a href="{{ url_for('repos.create', git=organization.git) }}">Create Repo</a></li>
            {% if member.admin or team_member.admin %}
            <li><a href="{{ url_for('organization.setteam', git=organization.git, tname=team.name) }}">Team Setting</a></li>
            <li><a href="{{ url_for('organization.addmember', git=organization.git, tname=team.name) }}">Add Member</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="span9">
        {% block subcontent %}
        <h2>{{ organization.name }}</h2>
        <h3>{{ team.name }}</h3>
        {% if not team_member %}
        <form class="form-create" method="POST" action="{{ url_for('organization.jointeam', git=organization.git, tname=team.name)}}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-large btn-primary" type="submit">Join</button>
        </form>
        {% else %}
        <form class="form-create" method="POST" action="{{ url_for('organization.quitteam', git=organization.git, tname=team.name)}}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-large btn-primary" type="submit">Quit</button>
        </form>
        {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}
