{% extends "base.html" %}
{% import "/common/pagination.html" as pagination %}
{% block nav %}{{ navbar.nav(organization=organization) }}{% endblock %}
{% block subtitle %}{{ organization.name }} {{ team.name }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% if users %}
        <ul class="nav nav-tabs nav-stacked">
            {% for user in users %}
            <li><a href="#">{{ user.name }} <img src="{{ user.avatar(24) }}" /></a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="{{ url_for('repos.explore', git=organization.git, tname=team.name) }}">Explore</a></li>
            <li><a href="{{ url_for('repos.create', git=organization.git) }}">Create Repo</a></li>
            {% if member.admin or team_member.admin %}
            <li><a href="{{ url_for('organization.setteam', git=organization.git, tname=team.name) }}">Team Setting</a></li>
            <li><a href="{{ url_for('organization.addmember', git=organization.git, tname=team.name) }}">Add Member</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="span10">
        {% block subcontent %}
        <ul class="inline">
            <li>
            <h3>{{ organization.name }} - {{ team.name }}</h3>
            </li>
            <li>
                {% if not team_member %}
                <form method="POST" action="{{ url_for('organization.jointeam', git=organization.git, tname=team.name)}}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <button class="btn btn-primary" type="submit">Join</button>
                </form>
                {% else %}
                <form method="POST" action="{{ url_for('organization.quitteam', git=organization.git, tname=team.name)}}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <button class="btn btn-primary" type="submit">Quit</button>
                </form>
                {% endif %}
            </li>
        </ul>
        <ul class="unstyled">
            {% for d in data %}
            <li style="padding-bottom:5px;">
                {% if d['type'] == 'push' %}
                <p>
                    <a href="#"><img height="24px" width="24px" src="{{ d['committer'].avatar(18) }}" /></a>
                    <a href="#">{{ d['committer'].display }}</a> push {{ d['commits_num'] }} commits in
                    <a href="{{ d['repo_url'] }}">{{ d['repo'].name }}</a> branch
                    <a href="{{ d['branch_url'] }}">{{ d['branch'] }}</a>
                </p>
                <ul class="unstyled" style="padding-left:15px">
                    {% for commit in d['data'] %}
                    <li style="padding-bottom:5px">
                        {% if commit['author'] %}
                        <span class="label">{{ commit['author'].name }}</span>
                        {% else %}
                        <span class="label">{{ commit['author_email'] }}</span>
                        {% endif %}
                        <span class="label label-important">{{ commit['sha'][:10] }}</span>
                        <span class="label label-success">{{ commit['message'] }}</span>
                        <span class="label label-info">{{ commit['author_time'] }}</span>
                    </li>
                    {% endfor %}
                    <li style="padding-bottom:10px"><a href="#">+more</a><li>
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {{ pagination.render_pagination(list_page, '') }}

        {% endblock %}
    </div>
</div>
{% endblock %}
