{% extends "team.view.html" %}
{% block subtitle %}Team Add Member{% endblock %}
{% block subcontent %}
{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}
<div class="row-fluid">
    <form class="form-add" method="POST">
        <h2 class="form-add-heading">Add to Team</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Name">
        <label class="checkbox">
            <input name="admin" type="checkbox">管理员
        </label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}

